.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px grey;
  background-color: aliceblue;
}

.infoContainer {
  padding: 4px 8px;
  background-color: bisque;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  font-weight: 500;
  font-size: 18px;
  color: brown;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 900px) {
  .img {
    width: 80px;
    height: 80px;
  }
}
